html, body {
    padding:0;
    margin:0;
    background-color:#ddd;
    text-align:center;
}
html {
  background-image: url("../img/bg.jpg");
  background-position: 50px 150px;
  background-repeat: no-repeat;
}
